.droite
{
	flex: 2;
	background-color: white;
	height: 1450px;
	text-align:left;
	padding-left: 50px;
	padding-right: 50px;


}
.gauche
{
	flex: 1;
	background-color:rgba(129,212,250,0.7);
	height: 1450px;
	
	

}
body
{

	font-family: arial,helvetica,sans-serif;
	display: flex;
	width: 1050px;
	margin: auto;
	border: solid 1px black;
	


}
.gauche, h2 p
{
	text-align: center;
	color: grey;
}
.gauche p
{
	padding-left: 15%;
	padding-right: 15%;
}
img
{
  border-radius :50%;
  border:3px solid rgba(129,212,250 ,1);
  margin-top: 12%;
  margin-bottom: 5%;
}
.contact
{
	text-align: left;
	font-weight: bold;
}
.propos
{
	text-align: justify;
	height: 670px;
}
#bordureiconG
{
	border-radius: 50%;
	border: 1px solid grey;
	padding: 7px 5px 7px 5px;
	margin-left: 3%;
	margin-right: 3%;
}
#bordureiconD
{
	border-radius: 50%;
	border: 1px solid grey;
	padding: 7px 5px 7px 5px;
	margin-left: 3%;
	margin-right: 3%;
}
#bordureiconcentre
{
	border-radius: 50%;
	border: 1px solid grey;
	padding: 7px 9px 7px 9px;
	margin-left: 3%;
	margin-right: 3%;
}

.CAT
{
	background-color: grey;
	color: rgba(129,212,250,0.7);
	height: 25px;
	padding-top: 2.5%;
	padding-bottom: 2.5%;

}

.icondroit
{
	color: rgba(129,212,250,0.7);
	font-size: 1.9em;
	margin-right: 20px
}
.me
{
	
	padding-top: 65px;

}
.nom
{

	font-family: Times New Roman, sans-serif;
	font-size: 3.7em;
	color: grey;
	margin-left: 2%
}
.prenom
{
	font-size: 3.5em;
	font-family: Arial,sans-serif;
	color: rgba(129,212,250,0.7);
}
.metier
{
	font-size: 1.5em;
	color: grey;
	font-weight: bold;
	margin-top: -10px;
	margin-bottom: 100px;
}
.tiret
{
	border-bottom: 2px solid rgba(129,212,250,0.7);
}
.lignecat
{
	border-bottom: 2px solid rgba(129,212,250,0.7);
}

.exp
{
	line-height: 30px;
	vertical-align: top;
	font-size: 1.9em;
    font-weight: bold;
}
.ul
{
	display: flex;
	color: grey;

}
.entete
{
	display: flex;
	color: grey;

}
.li
{
	color: rgba(129,212,250,1);

}
.ul .li span
{
	color: grey;
	font-weight: bold;
	font-size: 0.9em;

}
.entete .li span
{
	color: grey;
	font-weight: bold;
	font-size: 0.9em;
}
.societe
{
	font-weight: bold;
}

.ul i ,.entete i
{
	
	color: rgba(129,212,250,1);
	padding-top: 4.5%;
	padding-right: 2%;
}


.bulle
{
	flex: 1;
	margin-top: 10px;
	
}
.texte
{
	flex: 2;
	padding-top: 2%;

}
.foot
{
	display: flex;
	justify-content: space-around;
	color: grey;
	font-size: 1em;
}
.footG
{
	margin-left: -50px;
}
.gras
{
	font-weight: bold;
}

/*regle responsive media queries*/

@media screen and (max-width: 1050px)
{
	body
	{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: auto;
		height: auto;

	}

	.gauche
	{
	background-color:rgba(129,212,250,0.7);
	border: solid 1px black;
	flex: none;
	border: none;
	height: auto;
	width: auto;

	}

	.droite
	{
	background-color: white;
	border: solid 1px black;
	flex: none;
	height: auto;
	width: auto;
	border: none;

	}
	.contact
	{
		font-size: 1.3em;
		text-align: center;
	}
	.propos
	{
		height: auto;
		font-size: 1.3em;
	}
	.foot
	{
	
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		flex-direction: column;
		align-items: center;
		
	}
	.footG
	{
		margin-left : 0px;
	}
	.photo
	{
		height: auto;
	}
	img
	{
		
		height:25em;
	}
		.iconloisirs
	{
		min-height: 70px;
	}
	
	.ul
	{
		display: flex;
		
		flex-direction: column;
	}
	.entete
	{
		display: flex;
		
		flex-direction: column;
	}

	.lignecat
	{

	border-bottom: 6px solid rgba(129,212,250,0.7);
	}
	.bulle
	{
	
		width: auto;
		font-size: 1.3em;
	}
	.texte
	{
		font-size: 1.3em;
	}
	
	.me
	{
		display: flex;
		flex-wrap: wrap;
		font-size: xx-large;
	}
	.nom
	{
		margin-left: 0%;
	}

	.iconloisirs
	{
		min-height: 200px;
	}
	.CAT
	{
		font-size: 2em;
		height: auto;
	}
	#bordureiconD
	{
		border: none;
	 }

	#bordureiconcentre
	{
	
	border: none;
	padding-top: 2em;
	}
	#bordureiconG
	{
	border: none;
	}
}