.droite
{
	flex: 2;
	background-color: white;
	border: solid 1px black;
	height: 1320px;

}
.gauche
{
	flex: 1;
	background-color:rgba(129,212,250,0.7);
	border: solid 1px black;
	height: 1320px;
	

}
body
{

	font-family: arial,helvetica,sans-serif;
	display: flex;

}
.gauche, h3 p
{
	text-align: center;
}
.gauche p
{
	padding-left: 15%;
	padding-right: 15%;
}
img
{
  border-radius :50%;
  border:3px solid rgba(129,212,250 ,1);
  margin-top: 12%;
  margin-bottom: 5%;
}
.contact
{
	text-align: left;
}
.propos
{
	text-align: justify;
	height: 510px;
}
#bordureicon
{
	border-radius: 50%;
	border: 1px solid black;
	padding: 7px 7px 7px 7px;
	margin-left: 3%;
	margin-right: 3%;
}

.CAT
{
	background-color: grey;
	color: rgba(129,212,250,0.7);
	height: 25px;
	padding-top: 2.5%;
	padding-bottom: 2.5%;

}
.droite
{
	text-align:left;
	padding-left: 50px;
	padding-right: 50px;
}
.icondroit
{
	color: rgba(129,212,250,0.7);
	font-size: 1.5em;
	margin-right: 20px
}
.me
{
	
	padding-top: 65px;

}
.nom
{

	font-family: Times New Roman, sans-serif;
	font-size: 3.7em;
	color: grey;
	margin-left: 2%
}
.prenom
{
	font-size: 3.5em;
	font-family: Arial,sans-serif;
	color: rgba(129,212,250,0.7);
}
.metier
{
	font-size: 1.5em;
	color: grey;
	font-weight: bold;
	margin-top: -10px;
	margin-bottom: 100px;
}
.tiret
{
	border-bottom: 2px solid rgba(129,212,250,0.7);
}
.lignecat
{
	border-bottom: 2px solid rgba(129,212,250,0.7);
}
.exp
{
	line-height: 40px;
	vertical-align: top;
}