.droite
{
	flex: 2;
	background-color: white;
	border: solid 1px black;
	height: 1320px;

}
.gauche
{
	flex: 1;
	background-color:rgba(129,212,250,0.7);
	border: solid 1px black;
	height: 1320px;
	

}
body
{

	font-family: arial,helvetica,sans-serif;
	display: flex;

}
.gauche, h3 p
{
	text-align: center;
}
.gauche p
{
	padding-left: 15%;
	padding-right: 15%;
}
img
{
  border-radius :50%;
  border:3px solid rgba(129,212,250 ,1);
  margin-top: 12%;
  margin-bottom: 5%;
}
.contact
{
	text-align: left;
}
.propos
{
	text-align: justify;
	height: 510px;
}
#bordureicon
{
	border-radius: 50%;
	border: 1px solid black;
	padding: 7px 7px 7px 7px;
	margin-left: 3%;
	margin-right: 3%;
}

.CAT
{
	background-color: grey;
	color: rgba(129,212,250,0.7);
	height: 25px;
	padding-top: 2.5%;
	padding-bottom: 2.5%;

}
.droite ,.nom .metier h3
{
	text-align:left;
	padding-left: 40px;
	padding-right: 40px;
}
.icondroit
{
	color: rgba(129,212,250,0.7);
}
.nom
{
	font-family: italic,arial ,sans-serif;
	font-size: 40px;
	color: grey
}
.ligne
{
	border-bottom: 2px solid rgba(129,212,250,0.7);
}
